@import "../../node_modules/bootstrap/scss/bootstrap";

$body-bg: #fefefe;
$body-color: #111;

$theme-colors: (
        "primary": $success,
        "danger": $danger
);

$primary: $danger;

$enable-rounded: true;

@import "../../node_modules/bootstrap/scss/bootstrap";
