
.img-upload-btn {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: $gray-300;
}

.img-upload-btn input[type=file] {
  cursor: pointer;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
}

.img-upload-btn i {
  font-size: 24px;
}

.btn-radio {
  position: relative;
  overflow: hidden;
}

.btn-radio input[type=radio] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}