@import './colors';
@import "./image-picker";
@import '~@fortawesome/fontawesome-free/css/all.min.css';


.page {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__header {
    background: $green;
  }

  &__footer {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $gray-200;
  }
}
.page-sidebar {
  min-height: 100%;
  width: 25%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 5vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: $green;
  color: #fff;
  &__logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


.page-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 150px;
  margin-bottom: 50px;
  &_ml_0 {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-main_ml_0 {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  width: 150px;
  height: 80px;
  &__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}


.card {
  margin: 15px 0;
  &-text {
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.main-filters {
  &__title {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.checkbox-group {
  &__title {
    font-weight: 500;
    font-size: 1.4rem;
  }
}

.flower-info {
  &__btns-container {
    margin-top: 10px;
  }
}

.change-flower-info-form {
  width: 100%;
}

.carousel-indicators li {
  background-color: #0b2e13;
}

.carousel-control-prev,
.carousel-control-next {
  color: #0b2e13;
  background-color: #0b2e13;
}

.file-input {
  display: flex;
  flex-direction: row;
  &__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &__label {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #ccc;
  }
}


